.btn-clear{
    height: 80px;
    font-size: 1.6em;
    display: flex;
    flex: 1;
    background-color: #00eba5;
    margin: 0;
    color: white;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border: 2px solid white;
    cursor: pointer;
      transform: scale(0.95);



}

.btn-clear:hover{
    background-color: #00eba5;
    transform: scale(0.90);

}